@charset "utf-8";

body {
font-size: 24px;	
}
h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 900;
	transform: rotate(90deg);
	text-align:right;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	text-align: left;
}
h7 {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-size: 18px;
	font-weight: 900;
	text-align: left;
	line-height: 70%;
	color:#FFF	
	}
h1 {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-size: 40px;
	font-weight: 900;
	text-align: center;
}
h6 {
	text-decoration: none;
	font-size: 30px;
	font-weight: 100;
	text-align: left;
	font-style:italic;
	text-align: right;
	}
h5 {
	text-decoration: none;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	}
div#text5 {
position: fixed;
overflow: auto;
padding-left:20px;
padding-right:20px;
text-align:justify;
top: 10px;
left: 1000px;
right: 10px;
bottom: 0px;
z-index:  1000;
}
div#text6 {
position: fixed;
overflow: auto;
padding-left:20px;
padding-right:20px;
text-align:center;
top: 100px;
left: 1000px;
right: 10px;
bottom: 0px;
z-index:  1000;
}
div#text7 {
position: fixed;
overflow: auto;
padding-left:20px;
padding-right:20px;
text-align:center;
top: 200px;
left: 1000px;
right: 10px;
bottom: 0px;
z-index:  1000;
}
div#text8 {
position: fixed;
overflow: auto;
padding-left:20px;
padding-right:20px;
text-align:justify;
top: 320px;
left: 1002px;
right: 10px;
bottom: 0px;
z-index:  1000;
}
div#text {
background-color: #ffffff;
position: fixed;
overflow: auto;
padding-left:20px;
padding-right:120px;
text-align:justify;
top: 0;
left: 0;
right: 220px;
bottom: 60px;
z-index:  1000;
}
div#images {
background-color: #3929b2;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index:  0;
}
div#text2 {
background-color: #ffffff;
position: fixed;
overflow:auto;
padding-left:0px;
padding-right:0px;
text-align:center;
top: 100px;
left: 130px;
width: 300px;
bottom: 380px;
z-index:  1000;
}
div#text3 {
position: fixed;
overflow: auto;
padding-left:20px;
padding-right:120px;
text-align:justify;
top: 280;
left: 20;
right: 770px;
bottom: 110px;
z-index:  1000;
}
div#images img {
position: absolute;
}
div#images:hover {
z-index:  2000;
}
/* CSS Document */

