@charset "utf-8";

body {
font-size: 24px;	
}
h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 900;
	transform: rotate(90deg);
	text-align:right;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	text-align: left;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-size: 40px;
	font-weight: 900;
	text-align: center;
}
h6 {
	text-decoration: none;
	font-size: 30px;
	font-weight: 100;
	text-align: left;
	font-style:italic;
	text-align: right;
	}
h5 {
	text-decoration: none;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	}
div#text {
background-color: #ffffff;
position: fixed;
overflow: auto;
padding-left:20px;
padding-right:120px;
text-align:justify;
top: 0;
left: 0;
right: 120px;
bottom: 0px;
z-index:  1000;
}
div#text5 {
position: fixed;
overflow: auto;
padding-left:70px;
padding-right:0px;
text-align:justify;
top: 10px;
left: 1050px;
right: 10px;
bottom: 0px;
z-index:  1000;
}
div#text6 {
position: fixed;
overflow: auto;
padding-left:70px;
padding-right:0px;
text-align:justify;
top: 190px;
left: 1050px;
right: 10px;
bottom: 0px;
z-index:  1000;
}
div#text7 {
position: fixed;
overflow: auto;
padding-left:70px;
padding-right:0px;
text-align:justify;
top: 370px;
left: 1050px;
right: 10px;
bottom: 0px;
z-index:  1000;
}
div#text8 {
position: fixed;
overflow: auto;
padding-left:70px;
padding-right:0px;
text-align:justify;
top: 560px;
left: 1051px;
right: 10px;
bottom: 0px;
z-index:  1000;
}
div#images {
background-color: #fa9067;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index:  0;
}
div#text2 {
background-color: #ffffff;
position: fixed;
overflow:auto;
padding-left:0px;
padding-right:0px;
text-align:center;
top: 130px;
left: 130px;
right: 830px;
bottom: 300px;
z-index:  1000;
}
div#images img {
position: absolute;
}
div#images:hover {
z-index:  2000;
}
/* CSS Document */

